body {
    background-color: rgb(223, 219,197);
    padding: 50px;
    font-family: 'Playfair Display', serif;
  }
h1 {
    color: #ff6699;
}
h1:hover{
    color: #000000
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.manipulated {
    border: 2px solid black;
}

.prof_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.error {
  color: #ff0000
}

table, th, td {
  border: 1px solid black;
  padding: 5px
}

.data {
  color: #ff6699;
}
